.modal-open {
  position: absolute;
  width: 100%;
  overflow: visible;
  overflow-y:scroll;
  padding-right: 0!important;
}

.modal-header{
	background-color: #2C3E50;
	border-radius: 4px;

}

.modal-title{
	text-align:center;
	color:white;
}


